@import url("http://fonts.googleapis.com/css?family=Roboto:400,400italic,700");

body {
    font-family: "Roboto";
    font-size:62.5%;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 4rem;
    color: #375EAB;
}

a {
    color: #375EAB;
}

#layout.node > header {
    background: #E0EBF5;
    padding: 10px;
    margin-bottom: 20px;
}

#layout.node > header > h1 {
    width: 80%;
    max-width: 600px;
    margin: auto;
    font-size: 3rem;
}

#layout.node > .content {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.content {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

footer {
    text-align: center;
    margin: 10px 0;
    font-size: 1.1rem;
}
