{{ define "main" }}
<div id="content">
    <article>
        <header>
            <h2>{{ .Title }}{{ if .Params.canceled }} (Canceled!){{ end }}</h2>
        </header>
        <aside>
            {{ if .Params.location }}
            <dl class="location">
                <dt>Where?</dt>
                <dd>
                {{ .Params.location }}{{ if .Params.address }} ({{ .Params.address }}){{ end }}
                </dd>
            </dl>
            {{ end }}
            {{ if .Date }}
            <dl class="datetime">
                <dt>When?</dt>
                <dd>{{ dateFormat "Monday, 2 January 2006 at 15:04 MST" .Date }}</dd>
            </dl>
            {{ end }}
            {{ if .Params.MeetupID }}
            <dl class="rsvps">
                <dt>Who's coming?</dt>
                <dd id="posRSVPs" data-meetup-id="{{ .Params.MeetupID }}"></dd>
            </dl>
            {{ end }}
        </aside>
        <div class="content">
            {{ .Content }}
            {{ if (and .Params.MeetupID (lt now .Date)) }}
            <div class="meetup__meetupcom"><p>If this sounds interesting to you and you want to attend this event, please sign up on <a href="https://www.meetup.com/Graz-Open-Source-Meetup/events/{{ .Params.MeetupID }}/">Meetup.com</a>.</p></div>
            {{ else if .Params.MeetupID }}
            <div class="meetup__meetupcom"><p>You can also find this event on <a href="https://www.meetup.com/Graz-Open-Source-Meetup/events/{{ .Params.MeetupID }}/">Meetup.com</a>.</p></div>

            {{ end }}
        </div>
        {{ partial "talkidea-info.html" . }}
        <div class="webmentions-container" data-target="https://gograz.org{{ .RelPermalink}}" data-endpoint="https://gograz.org/webmentions" data-rsvp-summary="yes" data-title="Mentions from around the web..."></div>
        <script src="https://gograz.org/webmentions/ui/dist/widget.js"></script>

        <div class="content help">
            <p>This page supports <a href="https://webmention.net/">Webmentions</a>. Please note that they are moderated and don't show up right away.</p>
        </div>
        {{ if .Params.mastodonStatus }}
        <div class="retoots-container">
            <h2>Comments:</h2>
            <div class="retoots_help"><p>Leave a comment by replying to <a href="{{ .Params.mastodonStatus }}">this toot on Mastodon</a>!</p></div>
        </div>
        {{ end }}
    </article>
</div>
{{ end }}
{{ define "scripts" }}
    {{- if .Params.MeetupID }}
        {{ $js := resources.Get "js/meetup-rsvps.js" | minify | fingerprint }}
        <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{ end -}}
    {{- if .Params.mastodonStatus }}
        {{ $js := resources.Get "js/retoots.js" | minify | fingerprint }}
        <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{ end -}}
{{ end }}
