{{ partial "header.html" }}
{{ partial "topnav.html" }}
<div id="content">
    <article>
        <header>
            <h2>{{ .Title }}</h2>
        </header>
        <aside>
            {{ if .Params.location }}
            <dl class="location">
                <dt>Where?</dt>
                <dd>
                {{ .Params.location }}{{ if .Params.address }} ({{ .Params.address }}){{ end }}
                </dd>
            </dl>
            {{ end }}
            {{ if .Date }}
            <dl class="datetime">
                <dt>When?</dt>
                <dd>{{ dateFormat "Monday, 2 January 2006 at 15:04 MST" .Date }}</dd>
            </dl>
            {{ end }}
            {{ if .Params.MeetupID }}
            <dl class="rsvps">
                <dt>Who's coming?</dt>
                <dd id="posRSVPs" data-meetup-id="{{ .Params.MeetupID }}"></dd>
            </dl>
            {{ end }}
        </aside>
        <div class="content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ if .Params.MeetupID }}
    {{ $js := resources.Get "js/meetup-rsvps.js" | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
{{ partial "footer.html" }}
