<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Go User Group Graz</title>
{{ partial "meta.html" . }}

    {{ $style := resources.Get "sass/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="webmention" href="https://gograz.org/webmentions/receive">
  </head>
  <body>
    <div id="layout" class="{{ if .IsNode }}node{{ end }}">
